[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "almanac"]
	path = almanac
	url = https://github.com/davisvaughan/almanac
[submodule "ivs"]
	path = ivs
	url = https://github.com/davisvaughan/ivs
[submodule "treesitter"]
	path = treesitter
	url = https://github.com/davisvaughan/r-tree-sitter
[submodule "warp"]
	path = warp
	url = https://github.com/davisvaughan/warp
